* {
    box-sizing: border-box;
}

div {
    padding: 10px;
}

.parent {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: purple;
}

.w-25\% > .block {
    background: red;
}

.w-33\% > .block {
    background: yellow;
}

.w-50\% > .block {
    background: green;
}

[class*='w-'] {
    background: blue;
    float: left;
    margin-bottom: 5px;
}

.w-25\% {
    width: 25%;
}

.w-33\% {
    width: 33.3333%;
}

.w-50\% {
    width: 50%;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.block {
    min-height: 100px;
}

@media screen and (max-width: 1200px) {
    .w-25\% {
        width: 50%;
    }

    .w-50\% {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .w-25\% {
        width: 100%;
    }

    .w-33\% {
        width: 50%;
    }

    .w-50\% {
        width: 100%;
    }
}